<launch>

    <node pkg="object_detection_based_landmark_slam" type="landmark_simulator" name="landmark_simulator">
    </node>

    <node pkg="object_detection_based_landmark_slam" type="robot_move_simulator" name="robot_move_simulator">
    </node>

    <node pkg="object_detection_based_landmark_slam" type="observation_simulator" name="observation_simulator">
    </node>

</launch>
